    #top-p {
        background-color: rgb(194, 127, 60);
    }


    #logo-img {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th, table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    table th {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    tbody tr td:nth-child(1) {
        font-weight: bold;
    }

    tbody tr td:nth-child(2) {
        color: rgb(81, 119, 233);
    }

    table tr:last-child td {
        border-bottom: none;
    }

    p {
        margin: 15px;
    }